In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\adnar\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.26.4)Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd

In [4]:
array = np.array([1,2,3,4,5,6,7,8,9,10])
array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [5]:
lista = [1,2,3,4,5,6,7,8,9,10]

lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
tupla = (1,2,3,4,5,6,7,8,9,10)
tupla

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Exercícios Numpy

In [7]:
array1to10 = np.array([1,2,3,4,5,6,7,8,9,10])

2. acessar o quarto valor por numpy e imprimi-lo

In [8]:
quarto_elemento = array1to10[3]
print("O quarto elemento do array é:", quarto_elemento)

O quarto elemento do array é: 4

3. soma os numeros de 1 a 5 e depois os numeros de 6 a 10

In [9]:
array1to5 = np.array([1,2,3,4,5])
array6to10 = np.array([6,7,8,9,10])
soma_array = array1to5 + array6to10
print("O a soma dos array é:", soma_array)

O a soma dos array é: [ 7  9 11 13 15]

4. crie um array de 1 a 10 e mostre somente numeros acima de 5

In [10]:
array_maior_5 = array1to10[array1to10>5]
print("Os valores maiores que 5 é:", array_maior_5)

Os valores maiores que 5 é: [ 6  7  8  9 10]

5. calcule a media e o desvio padrao contendo os numeros de 1 a 10

In [11]:
array_1_to_10 = np.array([1,2,3,4,5,6,7,8,9,10])

print('media', array_1_to_10.mean())
print('desvio padrao', array_1_to_10.std())

media 5.5
desvio padrao 2.8722813232690143

6. concatene dois numpy array, contendo os numeros de 1 a 5 e 6 a 10 em um unico array

In [12]:
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([6,7,8,9,10])

arr_concat = np.concatenate([arr1, arr2])
print('concatenacao', arr_concat)

concatenacao [ 1  2  3  4  5  6  7  8  9 10]

7. subitaria os numeros de 1 a 10 por outro de 10 a 1

In [13]:
arr1 = np.arange(1,11)
arr2 = np.arange(10,0,-1)

resul = arr1 - arr2

print("resultado da subitarcao:", resul)

resultado da subitarcao: [-9 -7 -5 -3 -1  1  3  5  7  9]

8. ordende os numeros de forma decrescente os numeros de 1 a 10

In [14]:
# arange - mesma coisa de range no pandas
arr1 = np.arange(1,11)

arr_ordendo = np.sort(arr1)[::-1]
arr_ordendo

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

9. verifique se a valores dulicados em um array de 1 a 10

In [15]:
arr = np.array([0,4,2,6,5,9,6])
# size - verifica o tamanho do array
# unique - unicao valor
print("valores duplicados:", np.unique(arr).size != arr.size)

valores duplicados: True

10. use slicing para selecionar os elementos do 3 ao 7 elementos

In [16]:
arr= np.array([1,2,3,4,5,6,7,8,9,10])

print("Slicing do terceiro ao setimo termo:", arr[2:7])

Slicing do terceiro ao setimo termo: [3 4 5 6 7]

## Exercicios em Python (criando dicionarios)

In [17]:
notas = {'joao':85, 'Maria':90, 'Pedro':88}
notas

{'joao': 85, 'Maria': 90, 'Pedro': 88}

In [18]:
notas = {'joao':85, 'Maria':90, 'Pedro':88}
notas

{'joao': 85, 'Maria': 90, 'Pedro': 88}

In [19]:
notas['joao']

85

In [20]:
notas['joao']

85

In [21]:
# transforma em tabela
df = pd.DataFrame(notas_alunos)
df

NameError: name 'notas_alunos' is not defined

In [ ]:
# acessa as notas de um aluno especifico
nota_maria_mat = notas_alunos['Maria']['matematica']
print('a nota de maria em matematica é:', nota_maria_mat)

In [ ]:
# add um novo aluno
notas_alunos['Ana'] = {'matematica':48, 'portugues':25, 'ciencias':18}
notas_alunos

In [ ]:
df = pd.DataFrame(notas_alunos)
df

In [ ]:
df['Joao']

In [ ]:
df

In [ ]:
df['Joao']['matematica']

In [ ]:
dados_dois_alunos = df.loc[:, ['Joao', 'Maria', 'Ana']]
dados_dois_alunos

In [ ]:
# criar uma lsita de datas no formato desejado
datas = ['01-01-2024', '01-02-2024', '01-03-2024']

# to_datetime - converter datas para o formato datatime
datas_formadas = pd.to_datetime(datas, format='%d-%m-%Y')

In [ ]:
df['Data'] = pd.to_datetime(df['Data'], format='%d-%m-%Y')
df['Ano'] = df['Data'].dt.year
df['Mes'] = df['Data'].dt.month

df

In [ ]:
df.to_csv('notas e datas 2.csv')

In [ ]:
df.to_csv('notas e datas 2.csv')

In [ ]:
df.to_csv('notas e datas 2.csv')

## Desafio

In [ ]:
df = {
    '01-01-2023': {'Celular':150, 'Tablet':100, 'Notebook':80},
    '01-02-2023': {'Celular':180, 'Tablet':120, 'Notebook':90},
    '01-03-2023': {'Celular':200, 'Tablet':130, 'Notebook':100}
}
df = pd.DataFrame(df)
df

In [ ]:
dados = {
    
    'produto': ['Celular','Celular','Celular', 'Tablet','Tablet','Tablet','Notebook', 'Notebook', 'Notebook'],
    'mes': ['01-01-2023', '01-02-2023', '01-03-2023', '01-01-2023', '01-02-2023', '01-03-2023', '01-01-2023', '01-02-2023', '01-03-2023'],
    'vendas': [150,180,200,100,120,130,80,90,100]
}

df = pd.DataFrame(dados)
df

In [ ]:
df[['vendas', 'produto']].min()

In [ ]:
df['mes'] = pd.to_datetime(df['mes'], format='%d-%m-%Y')
df['ano'] = df['mes'].dt.year
df['mes'] = df['mes'].dt.month

df

In [ ]:
# converter o data frame pra um pandas series, indexados pelo mes
vendas_series = pd.Series(df['vendas'].values, index= df['mes'])

In [ ]:
# agrupamento de produtos somando os valores
produto_mais_vendido = df.groupby('produto')['vendas'].sum()
produto_mais_vendido

In [ ]:
media_vendas = vendas_series.mean()
media_vendas

In [ ]:
median_vendas = vendas_series.median()
median_vendas

In [ ]:
max_vendas = vendas_series.max()
max_vendas

In [ ]:
min_vendas = vendas_series.min()
min_vendas

In [ ]:
pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt

# cria um grafico em linha do mais baixo ao mais alto
df_grouped = df.groupby(['mes','produto'])['vendas'].sum().unstack()

import matplotlib.pyplot as plt

df_grouped = df.groupby(['mes', 'produto'])['vendas'].sum().unstack()

plt.figure(figsize=(10, 6))
df_grouped.plot(kind='bar', stacked=False)
                
plt.title("Vendas por Produto ao longo do Tempo")
plt.xlabel("Mês")
plt.ylabel("Vendas")
plt.xticks(rotation=30)
plt.legend(title='Produto')
plt.grid(axis='y')
plt.tight_layout()
plt.show()

In [ ]:

# calcular a variacao percentual entre as vendas de um mes para o proximo 
df['variacao percentual'] = df.groupby('produto')['vendas'].pct_change()
df

In [ ]:
# identificar os meses com maior e menor variacao percentual
# idmax- trax o valor maior do index
mes_maior = df.loc[df['variacao percentual'].idxmax()]['mes']
mes_maior

In [ ]:
# idmin- trax o valor menor do index
mes_menor = df.loc[df['variacao percentual'].idxmin()]['mes']
mes_menor

In [ ]:
novos_dados = {
    
    'produto': ['Ar Frio','Ar Frio','Ar Frio', 'Ar Frio', 'Ar Frio', 'Ventilador','Ventilador','Ventilador','Ventilador','Ventilador','Ar Quente', 'Ar Quente', 'Ar Quente','Ar Quente','Ar Quente'],
    'mes': ['1-1-2024', '1-2-2024', '1-3-2024', '1-4-2024', '1-5-2024', '1-1-2024', '1-2-2024', '1-3-2024', '1-4-2024', '1-5-2024','1-1-2024', '1-2-2024', '1-3-2024', '1-4-2024', '1-5-2024',],
    'vendas': [100,120,130,110,150,150,140,160,130,170,80,90,100,85,95]
}

df = pd.DataFrame(novos_dados)
df

In [ ]:
exel = pd.read_csv(r'C:\Users\logonrmlocal\Desktop\Python_2-semestre\Aulas\aula 4\notas e datas 2.csv')
exel

In [ ]:
df.to_csv('tabela com as correntes de ar data e vendas.csv')