In [16]:
# tupla - e parecido comuma lista, porem nao da para mudar  dados dentro delas, elas podem ser de diferentes dados, alem de ser definida por ()
# lista - dados flexiveis, onde pode colocar, tirar e modificar os dados. nao precisa ser o mesmo dados e sao definidas por []
# dados unidimencioal (vetor) - armazena dadps de uma direcao, e uma lista que geralmente comeca em 0, e so aceita numero
# dados bidimencional - armazea dados em linhas e colunas. e uma colecao de ljista e vetores. e acessado por dois indices
#  dados tridimencional

In [17]:
# tupla - sequencia imutavel de comprimento fixo, o jeito mais facil e criar uma sequancia de valores separados por virgula
# tupla dentro da tupla:

tupla_tupla = (4,5,6), (7,8)
tupla_tupla[0][2]

6

In [18]:
# sequencia em tupla
tupla=([4,2,0])
tupla

[4, 2, 0]

In [19]:
# caracteres nanumeriocos

tupla = tuple('batata')

tupla

('b', 'a', 't', 'a', 't', 'a')

In [20]:
tupla = tuple('batata')

tupla[3]

'a'

In [21]:
tupla = tuple(['foo', [1,2], True])
tupla

('foo', [1, 2], True)

In [55]:
# da erro pois nao se pode mudar o valor da tupla
tupla[2] = False

TypeError: 'tuple' object does not support item assignment

In [22]:
tupla[1].append(3)
tupla

('foo', [1, 2, 3], True)

In [23]:
tupla[1].append(25)
tupla

('foo', [1, 2, 3, 25], True)

In [24]:
# modificando os dados, tranformando a tuple em lista e depois transformad novamente em tupla
tupla = tuple(['foo', [1,2], True]) # tupla original
lista = list(tupla) # tranforma a tupla em uma lista e jaga em uma variavel
# insert - inserir os dados na lista, onde o primeiro termo deve ser a posicao
lista.insert(2,'amanha') # adiciona dados na lista
new_tupla = tuple(lista) # transforma a lista em tupla novamente

new_tupla

('foo', [1, 2], 'amanha', True)

In [25]:
tupla = tuple(['foo', [1,2], True])
lista = list(tupla)
posicao_insercao = lista.index('foo') + 2
lista.insert(posicao_insercao,'hoje')
nova_tupla = tuple(lista)

nova_tupla

('foo', [1, 2], 'hoje', True)

In [26]:
(4, None, 'foo') + (6,0) + ('bar',1)

(4, None, 'foo', 6, 0, 'bar', 1)

In [27]:
('fui','pro', 'bar')*3

('fui', 'pro', 'bar', 'fui', 'pro', 'bar', 'fui', 'pro', 'bar')

In [28]:
(4,8,12) +(3,6.5,9.9)

(4, 8, 12, 3, 6.5, 9.9)

In [29]:
tupla = (4,8,12)

for num in tupla:
    new_num = num *2
    print(new_num)

8
16
24

In [30]:
tupla = (4,8,12)
new_tupla = []

for num in tupla:
    new_num = num * 2
    new_tupla.append(new_num)

new_tupla = tuple(new_tupla)
new_tupla

(8, 16, 24)

In [31]:
tupla = (4,5,6)
a,b,c = tupla
tupla = 4,5, (6,7)
a,b, (c,d ) = tupla

tupla

(4, 5, (6, 7))

In [32]:
a,b = 1,2
b,a = a,b
a,b

(2, 1)

In [33]:
a = 10
b= 5

temp = a
a = b
b= temp

print(f"depois da troca o a= {a}, e o b= {b}")

depois da troca o a= 5, e o b= 10

In [34]:
b_list = ['agua', 'fogo', 'terra']
b_list.append("ar")
b_list

['agua', 'fogo', 'terra', 'ar']

In [35]:
b_list.insert(1,'eter')
b_list

['agua', 'eter', 'fogo', 'terra', 'ar']

In [36]:
b_list.remove('fogo')
b_list

['agua', 'eter', 'terra', 'ar']

In [37]:
[4, None, 'foo'] + [7,8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [38]:
x = [4,None, 'foo']
# extend - concatena de um modo mais facil, juntando uma variavel que ja esta com a truple e o a outra trupe
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [39]:
lista_da_lista = [[1,2,3], [4,5,6],[7,8,9]]
all = []

for pedaco in lista_da_lista:
    all.extend(pedaco)
all

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
all=[]
for pedaco in lista_da_lista:
    all += pedaco

all

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
a = [7,2,3,5,1,3]
a

[7, 2, 3, 5, 1, 3]

In [42]:
# sort - ordena uma lista 
a.sort()
a

[1, 2, 3, 3, 5, 7]

In [43]:
b = ['saw', 'small', 'he', 'foxs', 'six']
b

['saw', 'small', 'he', 'foxs', 'six']

In [44]:
# key - por onde ordenar,mostra como queremos que ordene algo
b.sort(key=len)
b

['he', 'saw', 'six', 'foxs', 'small']

In [45]:
sequen= [5,15,8,164,167,152,75,45,5,7,9,2,5,68,4]
# sequen[1:6] de um lugar ao outro
# sequen[3:4] de um lugar ate o outro
# sequen[:5] ate o quinto termo
# sequen[3:] do termo a diante
# sequen[-4:] quero os utimos 4 termos
sequen[:4]

[5, 15, 8, 164]

In [46]:
sequen= [5,15,8,164,167,152,75,45,5,7,9,2,5,68,4]
# sequen[::2] vai pulando casas, e comeca a contar do termo atual
sequen[::3]

[5, 164, 75, 7, 5]

1. Crie uma tupla chamada frutas com os seguintes elementos: 'maçã', 'banana', 'laranja', 'uva'.
2. Acesse o segundo elemento da tupla frutas.
3. Substitua o terceiro elemento da tupla frutas por 'manga' e armazene a tupla modificada em uma nova variável chamada frutas_modificadas.
4. Concatene a tupla frutas_modificadas com a tupla ('abacaxi', 'limão') e armazene o resultado em uma nova tupla chamada frutas_concatenadas.
5. Verifique se o elemento 'uva' está presente na tupla frutas_concatenadas.
6. Descubra o índice do elemento 'banana' na tupla frutas_concatenadas.
7. Conte quantas vezes o elemento 'uva' aparece na tupla frutas_concatenadas.
8. Crie uma tupla chamada numeros com os números de 1 a 5.
9. Multiplique cada elemento da tupla numeros por 2 e armazene o resultado em uma nova tupla chamada numeros_dobrados.

In [47]:
frutas = ('maçã', 'banana', 'laranja', 'uva')
frutas[1]

'banana'

In [48]:

frutas = ('maçã', 'banana', 'laranja', 'uva')
lista = list(frutas)
lista.insert(2,'manga') 
lista.remove('laranja')
fruta_modificadas = tuple(lista) 

fruta_modificadas

('maçã', 'banana', 'manga', 'uva')

In [49]:
frutas_concatenadas = fruta_modificadas + ('abacaxi', 'limão')
frutas_concatenadas

('maçã', 'banana', 'manga', 'uva', 'abacaxi', 'limão')

In [50]:
for i in frutas_concatenadas:
    if i == 'uva':
        print('tem uva na bagaça')
    else:
        pass

tem uva na bagaça

In [51]:
frutas_concatenadas.count('uva')

1

In [52]:
frutas_concatenadas.index('banana')

1

In [53]:
numeros = (1,2,3,4,5)

In [54]:
numeros = (1,2,3,4,5)
numeros_dobrados = []

for num in numeros:
    valor = num * 2
    numeros_dobrados.append(valor)
    print(valor)

numeros_dobrados

2
4
6
8
10

[2, 4, 6, 8, 10]