In [1]:
nota1 = float(input("Digite a primeira nota:"))
nota2 = float(input("Digite a segunda nota:"))
nota3 = float(input("Digite a terceira nota:"))

media = (nota1+nota2+nota3)/3
print("A média das notas é:", media)

A média das notas é: 10.0

In [5]:
A = float(input("Digite o valor de A:"))
B = float(input("Digite o valor de B:"))

if A > B:
    print:("A é maior que B")
else:
    print:("B é maior que A")

In [7]:
raio = float(input("Digite o raio do círculo: "))
area = 3.1415 * raio ** 2
print("A área do círculo é:", area)

A área do círculo é: 12.566

## Exercício 1

In [8]:
m = float(input("Inserir valor da massa em kg: "))
energia = (m * 3 * pow(10,8)) / 1000000
print("A energia resultante é de", energia, "Mjoules")

A energia resultante é de 3000.0 Mjoules

## Exercício 2

In [12]:
idade = int(input("Digite a idade: "))

if idade <= 11:
    print("Criança")
elif idade >= 12 and idade <= 20:
    print("Adolescente")
elif idade >= 21 and idade <= 40:
    print("Adulto jovem")
elif idade >= 41 and idade <= 65:
    print("Meia idade")
else:
    print("Idoso")

Adolescente

In [5]:
ordem = ["first", "second", "third", "fourth"]
titulo = ["king", "queen", "princess", "Duke"]

for x in ordem:
    for y in titulo:\
        print(x, y)

first king
first queen
first princess
first Duke
second king
second queen
second princess
second Duke
third king
third queen
third princess
third Duke
fourth king
fourth queen
fourth princess
fourth Duke

In [16]:
alunos = ["joao", "maria", "pedro", "ana"]
notas = [8.5, 9.0, 9.5, 7.5]
faltas = [2, 0, 1, 3]

for i in range(len(alunos)):
    if notas[i] >= 8 and faltas[i] == 0:
        print(f"{alunos[i]} foi aprovado com {notas[i]}")

maria foi aprovado com 9.0

In [2]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     ------------------- ------------------ 30.7/61.0 kB 660.6 kB/s eta 0:00:01
     ------------------- ------------------ 30.7/61.0 kB 660.6 kB/s eta 0:00:01
     ------------------- ------------------ 30.7/61.0 kB 660.6 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 325.6 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adnar\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\adnar\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.6 MB 28.5 MB/s eta 0:00:01
   ---------- ----------------------------- 2.9/11.6 MB 31.5 MB/s eta 0:00:01
   ---------------- ----------------------- 4.8/11.6 MB 30.7 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.6 MB 31.0 MB/s eta 0:00:01
   ---------------------------- ----------- 8.2/11.6 MB 32.8 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 33.8 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 32.7 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 27.3 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   ---- ----------------------------------- 2.0/15.8 MB 41.4 MB/s eta 0:00:01
   --------- ------------------------------ 3.8/15.8 MB 40.4 MB/s eta 0:00:01
   -------------- ------------------------- 5.6/15.8 MB 39.6 MB/s eta 0:00:01
   ----------------- ---------------------- 7.1/15.8 MB 35.0 MB/s eta 0:00:01
   ---------------------- ----------------- 9.1/15.8 MB 36.2 MB/s eta 0:00:01
   ------------------------- -------------- 10.2/15.8 MB 36.1 MB/s eta 0:00:01
   ------------------------------ --------- 12.2/15.8 MB 34.6 MB/s eta 0:00:01
   ---------------------------------- ----- 13.7/15.8 MB 32.8 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.8 MB 32.8 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 21.1 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------  501.8/505.5 kB 32.8 MB/s eta 0:00:01
   --------------------------------------  501.8/505.5 kB 32.8 MB/s eta 0:00:01
   ---------------------------------------- 505.5/505.5 kB 4.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------  337.9/345.4 kB 20.5 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 5.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [3]:
import pandas as pd

In [4]:
dados = {
    'tipo de carro': ['sedan', 'SUV', 'hatchback', 'caminhonete'],
    'tipo de direcao': ['hidraulica', 'eletrica', 'mecanica', 'eletrica'],
    'tipo de pneu': ['radial', 'diagonal', 'radial', 'diagonal'],
    'faixa de preco': ['alto', 'medio', 'baixo', 'alto'],
    'potencia-CV': [120, 130, 100, 180],
    'velocidade de cruzeiro': [True, False, True, True]
}

df_carros = pd.DataFrame(dados)
df_carros

,tipo de carro,tipo de direcao,tipo de pneu,faixa de preco,potencia-CV,velocidade de cruzeiro
0,sedan,hidraulica,radial,alto,120,True
1,SUV,eletrica,diagonal,medio,130,False
2,hatchback,mecanica,radial,baixo,100,True
3,caminhonete,eletrica,diagonal,alto,180,True

In [5]:
# mostra as informacoes, desde a quantidade ate o tipo dos dados e os nomes das variaveis 
df_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tipo de carro           4 non-null      object
 1   tipo de direcao         4 non-null      object
 2   tipo de pneu            4 non-null      object
 3   faixa de preco          4 non-null      object
 4   potencia-CV             4 non-null      int64
 5   velocidade de cruzeiro  4 non-null      bool
dtypes: bool(1), int64(1), object(4)
memory usage: 296.0+ bytes

In [6]:
# mostra uma quantidade limitada de linhas a ser mostrada
df_carros.head(3)

,tipo de carro,tipo de direcao,tipo de pneu,faixa de preco,potencia-CV,velocidade de cruzeiro
0,sedan,hidraulica,radial,alto,120,True
1,SUV,eletrica,diagonal,medio,130,False
2,hatchback,mecanica,radial,baixo,100,True

In [7]:
# mostra a coluna exata do data frame
df_carros['tipo de carro']

0          sedan
1            SUV
2      hatchback
3    caminhonete
Name: tipo de carro, dtype: object

In [8]:
print('o valor minimo é', df_carros['potencia-CV'].min())
print('o valor maximo é', df_carros['potencia-CV'].max())
print('o valor media é', df_carros['potencia-CV'].mean())
print('o valor mediana é', df_carros['potencia-CV'].median())

o valor minimo é 100
o valor maximo é 180
o valor media é 132.5
o valor mediana é 125.0

In [9]:
def filtra_por_valor (df_carros, coluna, valor):

    return df_carros[df_carros[coluna]==valor]
filtra_por_valor(df_carros, 'tipo de carro', 'sedan')

,tipo de carro,tipo de direcao,tipo de pneu,faixa de preco,potencia-CV,velocidade de cruzeiro
0,sedan,hidraulica,radial,alto,120,True

In [10]:
carro_desejado = ['sedan', 'hatchback']

# .loc - seleciona uma coluna especifica
for carro in carro_desejado:
    dados = df_carros.loc[df_carros['tipo de carro'] == carro]
    print(f'dados para {carro}:\n {dados}\n')

dados para sedan:
   tipo de carro tipo de direcao tipo de pneu faixa de preco  potencia-CV  \
0         sedan      hidraulica       radial           alto          120

   velocidade de cruzeiro
0                    True

dados para hatchback:
   tipo de carro tipo de direcao tipo de pneu faixa de preco  potencia-CV  \
2     hatchback        mecanica       radial          baixo          100

   velocidade de cruzeiro
2                    True