# funcao apply, normalizacao de dados e juncao de dataframe

In [13]:
import numpy as np

In [15]:
# apply - funcao usada ao longo de um datafrme
# apply - aplicar em cada item - resumindo

df = pd.DataFrame ([[4,9,2]] * 4, columns=["A",'B','C'])
df

   A  B  C
0  4  9  2
1  4  9  2
2  4  9  2
3  4  9  2

In [16]:
# sqrt - para raiz quadrada
raizQuadrada = df.apply(np.sqrt)

soma_linha = df.apply(np.sum, axis=1)
soma_coluna = df.apply(np.sum, axis=0)


raizQuadrada

     A    B         C
0  2.0  3.0  1.414214
1  2.0  3.0  1.414214
2  2.0  3.0  1.414214
3  2.0  3.0  1.414214

In [17]:
# funcao apply com lambda

df['D'] = df["C"].apply(lambda x: x*5)
df

   A  B  C   D
0  4  9  2  10
1  4  9  2  10
2  4  9  2  10
3  4  9  2  10

In [18]:
# somar coluna e linhas

resultado = df. apply(lambda row: row["A"] + row["B"], axis=1)
resultado

0    13
1    13
2    13
3    13
dtype: int64

In [19]:
# calcular a media, mediana, min e max

df = pd.DataFrame ({
    'A': [6,5,8,11],
    'B': [23,20,5,30]
})
df

    A   B
0   6  23
1   5  20
2   8   5
3  11  30

In [20]:
resultadoMedia_A = df["A"].apply(lambda x: x).mean()
resultadoMedia_A

7.5

In [21]:
resultadoMedia_B = df["B"].apply(lambda x: x).mean()
resultadoMedia_B

19.5

In [22]:
df_nomes = pd.DataFrame ({
    'nome': ['joao','ana','joao','pedro']
})


df_nomes['nome'] = df_nomes['nome'].apply(lambda x: x+' silva')
df_nomes

          nome
0   joao silva
1    ana silva
2   joao silva
3  pedro silva

In [31]:
dados = pd.read_csv('./manutencao_preditiva.csv')
dados

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1696463437.py, line 1)

In [27]:
dados['Soma de temps'] = dados.apply(lambda linha: linha['Temperatura Ar [K]'] + linha['Temperatura Processo [K]'], axis=1)

dados

NameError: name 'dados' is not defined

In [ ]:
# 1- somar as variaveis de temperatura do ar e do processo, trazendo um uma nova variavel
# 2 - soma das temperaturas do ar e do processo apenas da maquina tipo M
# 3- media, mediana,min e max, quadno houver apenas maquinas do tipo H

In [ ]:
df_tipo_m = dados[dados['Tipo'] == 'M']
df_tipo_m

In [ ]:
df_tipo_m['Temp do tipo M'] = df_tipo_m.apply(lambda linha: linha['Temperatura Ar [K]'] + linha['Temperatura Processo [K]'], axis=1)

df_tipo_m

In [ ]:
df_tipo_H = dados[dados['Tipo'] == 'H']
df_tipo_H

In [ ]:
resultado_maximo_H = df_tipo_H.apply(lambda x: x).max()
print(resultado_maximo_H)

In [ ]:
resultado_minimo_H = df_tipo_H.apply(lambda x: x).min()
print(resultado_minimo_H)

In [ ]:
resultado_media_H = df_tipo_H['Temperatura Ar [K]'].apply(lambda x: x).mean()
print(resultado_media_H)

In [ ]:
resultado_mediana_H = df_tipo_H['Temperatura Ar [K]'].apply(lambda x: x).median()
print(resultado_maximo_H)

In [ ]:
df_samble = pd.DataFrame({
    "A": [6,5,8,11],
    "B": [100,122,156,189],
    "indice": [1,2,3,4],
})

x = df_samble['indice']
y1 = df_samble['A']
y2 = df_samble['B']

plt.plot(x,y1,x,y2)
plt.show

In [ ]:
df_normalizado = df_samble.apply(lambda x: (x - x.min()) / (x.max() - x.min()))
df_normalizado

In [ ]:
# fazer a normalizacao apenas para a variavel de rpm

bb = dados[['Velocidade Rotacao [rpm]']].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
bb

In [ ]:
# aplicar apply para verificar comprimento de dados (string)

df = pd.DataFrame({
    'texto': ['ola','mundo','python','pandas']
})

df['comprimento'] = df['texto'].apply(lambda texto: len(texto))
df

In [ ]:
# condicao para inserir uma coluna chamada Comprimento_texto e se o comprimeto for maior que 5, insira longa, se na curta

df['Comprimento_texto'] = df['texto'].apply(lambda texto: 'curto' if len(texto) <= 5 else 'longo')
df

In [ ]:
# verificar o comprimento do textona coluna falhas. E mostra uma nova coluna que fala curso (menor ou igual a 10), medio (de 10 a 15) e longo (maior que 15)

dados['Contagem falhas'] = dados['Tipo da Falha'].apply(lambda texto: 'curto' if len(texto) <= 10  else 'medio' if 10 < len(texto) <= 15 else 'longo' )
dados['Contagem falhas'].value_counts()

In [ ]:
# utilizando groupby do pandas

df_new = pd.DataFrame({
    "var_1": ['A', 'A', 'B', 'A', 'C', 'C', 'A', 'B', 'A', 'B'],
    "var_2": [100, 122, 156, 189, 50, 63, 9, 15, 78, 10],
    "var_3": [12, 18, 15, 19, 5, 62, 93, 145, 7, 10]
})
df_new

In [ ]:
agrupado = df_new.groupby('var_1').mean()
agrupado

In [ ]:
agrupado_media = df_new.groupby('var_1').mean().reset_index()
agrupado_media

In [ ]:
agrupado_mediana = df_new.groupby('var_1').median().reset_index()
agrupado_mediana

In [ ]:
agrupado_max = df_new.groupby('var_1').max().reset_index()
agrupado_max

In [ ]:
agrupado_min = df_new.groupby('var_1').min().reset_index()
agrupado_min

In [ ]:
# 1- agrupar os tipos de maquina e retoenar a media das colunas numericas

# 2- agrupar os dados por tipo de maquina e por tipo de falha, trazendo a media

In [ ]:
dados.columns

In [ ]:
df_filtardo = dados[['Tipo', 'Temperatura Ar [K]', 'Temperatura Processo [K]', 'Velocidade Rotacao [rpm]', 'Torque [Nm]','Desgaste Ferramenta [min]', 'Alvo']]
df_filtardo

In [ ]:
maquinas = df_filtardo.groupby('Tipo').mean().reset_index()
maquinas

In [ ]:
df_neew = pd.DataFrame({
    "var_1": ['A', 'A', 'B', 'A', 'C', 'C', 'A', 'B', 'A', 'B'],
    "var_2": ['X', 'Y', 'Y', 'X', 'Y', 'X', 'Z', 'Y', 'X', 'Z'],
    "var_3": [12, 18, 15, 19, 5, 62, 93, 145, 7, 10]
})

df_neew

In [ ]:
grouped = df_neew.groupby(['var_1', 'var_2']).mean().reset_index()
grouped